@import "../fonts/glober";
@import "../fonts/aksara_bali_galang_regular";
@import '../reset_css/reset';
@import "variables/variables";
@import "header/header";
@import "index_page/index-page";
@import "blog_page/blog-page";
@import "blog-kard/blog-kard";
@import "vacancies/vacancies";
@import "about/about";
@import "developers/developers";
@import "burger/burger";
@import "not_found/not-found";

body {
  height: 100vh;
  font-family: Glober, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  background: var(--black);
  overflow-x: hidden;
  &.no-overflow {
    overflow: hidden;
  }
}

#canvas {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.big-container {
  max-width: calc(100% - 80px);
  margin: 0 auto;
}

.tag-soon {
  position: relative;
}

.tag-soon:after {
  content: 'скоро';
  color: #fff;
  position: absolute;
  font-size: 9px;
  padding: 4px;
  right: 4px;
  top: 4px;
  background: red;
  border-radius: 15px;
}

@media screen and (max-width: 1600px) {
  .main-page-sub-title {
    line-height: 50px;
    font-size: 41px;
  }
}

@media screen and (max-width: 1199.99px) {
  .container {
    max-width: 1140px;
    margin: 0 15px;
  }

  #canvas {
    display: none;
  }
}

@media screen and (min-width: 991.99px) {
  .none991-plus{
    display: none;
  }

}

@media screen and (max-width: 991.99px) {
  .container {
    margin: 0 15px;
    max-width: 960px;
  }

  .none991{
    display: none;
  }
  body {
    height: initial;
  }
}
@media screen and (max-width: 767.99px) {
  .container {
    max-width: 720px;
    margin: 0 15px;
  }
}
@media screen and (max-width: 575.99px) {
  .container {
    max-width: 540px;
    margin: 0 15px;
  }

  .main-page-sub-title {
    font-size: 27px;
  }
}

//костыль по маргину
.mCSB_inside > .mCSB_container {
  margin-right: 0!important;
}
.mCSB_scrollTools {
  z-index: 1000;
}

// костыль с background модалка
.tingle-modal {
  background: rgba(0,0,0,0) !important;
}

.tingle-btn {
  border-radius: 5px;
}

