:root {
    --primary-1: #4402D0;
    --primary-2: #CF0070;
    --white: #fff;
    --transparent95-white: rgba(255, 255, 255, .87);
    --light-white: #FEFEFE;
    --delicate-white: #FFFDFD;
    --whitish: rgba(255, 255, 255, 1);
    --light-grey:rgba(170, 170, 170, 1);
    --black: #0A141F;
    --transparent95-black: rgba(10, 20, 31, .98);
    --transparent-header: rgba(10, 20, 31, .9);
    --transparent: transparent;
    --grey: rgba(10, 20, 31, .42);
    --grey2: #010409;
    --pink: rgba(207, 0, 112, 1);
    --lilac: rgba(228, 100, 169, .69);
    --lilac2: #6E3888;
    --lilac3: #9976E4;
    --lilac4: #E880B8;
    --lilac5: rgba(150, 115, 223, .81);
    --blue1: #55ACEE;
    --blue2: #4C6C91;
    --blue3: #3B5998;
    --blue4: #38C0DE;
    --blue5: #4402D0;
    --blue6: rgba(26, 104, 194, 1);
    --light-green-1:#44D002;
    --light-green-2: #BFCF00;
}
