@font-face {
  font-family: 'Aksara Bali Galang';
  src: local('Aksara Bali Galang'), local('AksaraBaliGalang'), url('../fonts/aksara_bali_galang_regular.woff2') format('woff2'),  url('../fonts/aksara_bali_galang_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}