@font-face {
    font-family: 'Glober';
    src: local('Glober Thin Free'), local('GloberThinFree'), url('../fonts/globerthin.woff2') format('woff2'), url('../fonts/glober_thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Glober';
    src: local('Glober Regular Free'), local('GloberRegularFree'), url('../fonts/glober_regular.woff2') format('woff2'), url('../fonts/glober_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Glober';
    src: local('Glober Bold Free'), local('GloberBoldFree'), url('../fonts/glober_bold.woff2') format('woff2'),  url('../fonts/glober_bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
