.main-page {
  padding: 100px 0 0 0;
}
.main-page-container {
  display: grid;
  grid-template-columns: 7fr 5fr;
}
.main-page-left-column {
  padding: 58px 0 0 0;
}
.main-page-right-column {
  padding: 50px 0 0 0;
  width: 720px;
  margin-left: auto;
}
.main-page-title {
  font-weight: 600;
  font-size: 64px;
}
.main-page-sub-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 45px;
}
.main-page-text {
  font-weight: 600;
  font-size: 24px;
  margin-top: 15px;
}
.main-page-btn-container {
  padding: 55px 0 0 0;
  display: flex;
  gap: 25px;
}
.main-page-btn {
  background: var(--primary-2);
  border-radius: 5px;
  text-transform: uppercase;
  padding: 17px 87px;
  min-width: 287px;
  font-weight: bold;
  transition: all ease .2s;
  //border: 1px solid transparent;
  &:last-child {
  }
  &.registration {
    background: var(--primary-1);
  }
}
///////////rectangles

.rectangle-container {
  position: relative;
  padding: 40px 0 165px 0;
}
//.rectangle1 {
//  width: 96px;
//  height: 96px;
//  border: 3px solid var(--lilac);
//  position: absolute;
//  top: 0;
//  left: 58%;
//  animation: rt1 2s linear infinite alternate;
//}
//@keyframes rt1 {
//  0% {
//
//  }
//  100% {
//    transform: scale(.5);
//  }
//}
//.rectangle2 {
//  width: 100px;
//  height: 100px;
//  border: 3px solid var(--white);
//  position: absolute;
//  bottom: 0;
//  left: 52%;
//  animation: rt2 3s linear infinite alternate;
//}
//@keyframes rt2 {
//  0% {
//
//  }
//  100% {
//    transform: scale(.4);
//  }
//}
//.rectangle3 {
//  width: 100px;
//  height: 100px;
//  border: 3px solid var(--lilac3);
//  position: absolute;
//  bottom: 10%;
//  right: -100px;
//  animation: rt3 1s linear infinite alternate;
//}
//@keyframes rt3 {
//  0% {
//    width: 100px;
//    height: 100px;
//    bottom: 10%;
//  }
//  100% {
//    width: 80px;
//    height: 80px;
//    bottom: 15%;
//  }
//}
//.rectangle4 {
//  width: 96px;
//  height: 96px;
//  border: 5px solid var(--blue4);
//  position: absolute;
//  bottom: 8%;
//  left: -80px;
//  animation: rt45 2s linear infinite alternate-reverse;
//}
//.rectangle5 {
//  width: 96px;
//  height: 96px;
//  border: 4px solid var(--lilac2);
//  position: absolute;
//  bottom: 2%;
//  left: -30px;
//  animation: rt45 2s linear infinite alternate;
//}
//@keyframes rt45 {
//  from {
//    bottom: 2%;
//    left: 20px;
//  }
//  20%{
//    z-index: 2;
//  }
//  to {
//    bottom: 7%;
//    left: -90px;
//  }
//
//}
//.rectangle6 {
//  width: 100px;
//  height: 100px;
//  border: 3px solid var(--white);
//  position: absolute;
//  bottom: -10%;
//  left: 22%;
//  animation: rt6 1s ease-in infinite alternate ;
//  z-index: 0;
//}
//@keyframes rt6 {
//  from {
//    bottom: -10%;
//  }
//  99% {
//  }
//  to {
//    bottom: 10%;
//  }
//}
//.rectangle7 {
//  width: 48px;
//  height: 48px;
//  border: 1px solid var(--light-green-1);
//  position: absolute;
//  bottom: 43%;
//  left: 56%;
//  animation: rt7 2s linear infinite alternate;
//}
//@keyframes rt7 {
//  from {
//    bottom: 43%;
//    left: 56%;
//  }
//  to {
//    bottom: 21%;
//    left: 62%;
//    width: 38px;
//    height: 38px;
//  }
//}
//.rectangle8 {
//  width: 48px;
//  height: 48px;
//  border: 3px solid var(--light-green-2);
//  position: absolute;
//  bottom: 29%;
//  left: 66%;
//  display: none; // Временно
//}
//.rectangle9 {
//  width: 48px;
//  height: 48px;
//  border: 4px solid var(--primary-2);
//  position: absolute;
//  bottom: 21%;
//  left: 61%;
//  animation: .1s linear rt9 infinite alternate;
//  animation-duration: 1.5s;
//}
//@keyframes rt9 {
//  from {
//    opacity: 0;
//  }
//  to {
//    opacity: 1;
//  }
//}
///////////rectangles

//////////features
.features-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.feature-item {
  width: 346px;
  margin-right: 50px;
  margin-bottom: 67px;
  &:nth-child(3){
    margin-right: 0;
  }
  &:nth-child(6){
    margin-right: 0;
  }
}
.features-img {
  padding-bottom: 5px;
}
.features-tittle {
  font-weight: 600;
  font-size: 36px;
  align-items: center;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 0;
  color: var(--light-white);
}
.features-page-tittle {
  font-weight: 600;
  font-size: 24px;
  align-items: center;
  padding-bottom: 27px;
  color: var(--transparent95-white);
}
.features-page-text {
  font-weight: 600;
  font-size: 16px;
  color: var(--transparent95-white);
}
//////////features

//////////specificity
.specificity-tittle {
  font-weight: 600;
  font-size: 36px;
  align-items: center;
  text-align: center;
  color: var(--white);
  padding-top: 70px;
  padding-bottom: 91px;
}
.specificity-info {
  display: flex;
  flex-wrap: wrap;
}
.specificity-post {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.specificity-post:nth-child(2n) {
  flex-direction: row-reverse;
  & > *:first-child {
    margin-left: 20px;
  }
}
.specificity-post:nth-child(2n+1) {
  & > *:first-child {
    margin-right: 20px;
  }
}
 .specificity-text {
    flex: 1;
  }
 .specificity-text-tittle {
   font-weight: 600;
   font-size: 24px;
   color: var(--delicate-white);
   padding-bottom: 32px;
   & .first-letter {
     font-size: 46px;
     background: linear-gradient(234.32deg, #2F1939 7.03%, #572146 33.32%, #A4045A 59.96%, rgba(247, 105, 0, 0.75) 94.9%, rgba(251, 255, 43, 0.94) 96.16%, #FAFF07 96.16%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
   }
 }
 .specificity-text-sub-tittle {
   font-weight: 600;
   font-size: 16px;
   color: var(--transparent95-white);
 }
 .square-container {
   position: relative;
 }
// .square1 {
//   width: 48px;
//   height: 48px;
//   position: absolute;
//   border: 1px solid var(--light-green-1);
//   top: 2%;
//   right: 29%;
//   animation: sqr1 4s ease-out infinite;
// }
//@keyframes sqr1 {
//  from {
//    top: 2%;
//    right: 29%;
//  }
//  33% {
//    top: 9%;
//    right: 25%;
//  }
//  66% {
//    top: 5%;
//    right: 14%;
//  }
//  to {
//    top: 2%;
//    right: 29%;
//  }
//}
//.square2 {
//  width: 48px;
//  height: 48px;
//  position: absolute;
//  border: 3px solid var(--light-green-2);
//  top: 5%;
//  right: 14%;
//  animation: sqr2 4s ease-out infinite;
//}
//@keyframes sqr2 {
//  from {
//    top: 5%;
//    right: 14%;
//  }
//  33% {
//    top: 2%;
//    right: 29%;
//  }
//  66% {
//    top: 9%;
//    right: 25%;
//  }
//  to {
//    top: 5%;
//    right: 14%;
//  }
//}
//.square3 {
//  width: 24px;
//  height: 24px;
//  position: absolute;
//  border: 2px solid var(--primary-2);
//  top: 9%;
//  right: 25%;
//  animation: sqr3 4s ease-out infinite;
//}
//@keyframes sqr3 {
//  from {
//    top: 9%;
//    right: 25%;
//  }
//  33% {
//    top: 5%;
//    right: 14%;
//  }
//  66% {
//    top: 2%;
//    right: 29%;
//  }
//  to {
//    top: 9%;
//    right: 25%;
//  }
//}
//.square4 {
//  width: 48px;
//  height: 48px;
//  position: absolute;
//  border: 1px solid var(--light-green-1);
//  top: 33%;
//  left: 22%;
//  animation: sqr4 .6s ease-out infinite alternate;
//}
//@keyframes sqr4 {
//  from {
//    width: 48px;
//    height: 48px;
//  }
//  to {
//    width: 35px;
//    height: 35px;
//  }
//}
//.square5 {
//  width: 78px;
//  height: 78px;
//  position: absolute;
//  border: 2.34px solid var(--white);
//  top: 33%;
//  left: -78px;
//  z-index: -1;
//  animation: sqr5 1s linear infinite alternate;
//}
//@keyframes sqr5 {
//  from {
//    top: 33%;
//    left: -78px;
//  }
//  to {
//    top: 31%;
//    left: -51px;
//  }
//}
//.square6 {
//  width: 24px;
//  height: 24px;
//  position: absolute;
//  border: 2px solid var(--primary-2);
//  bottom: 36%;
//  right: 8%;
//  animation: sqr6 1s ease-out infinite alternate;
//}
//@keyframes sqr6 {
//  from {
//    bottom: 37%;
//  }
//  to {
//    bottom: 34%;
//  }
//}
//.square7 {
//  width: 48px;
//  height: 48px;
//  position: absolute;
//  border: 3px solid var(--light-green-2);
//  bottom: 20%;
//  left: 35%;
//  animation: sqr7 1.5s ease-out infinite alternate;
//}
//@keyframes sqr7 {
//  from {
//    bottom: 20%;
//    left: 35%;
//  }
//  33% {
//    bottom: 21.77%;
//    left: 39%;
//  }
//  to {
//    bottom: 19%;
//    left: 46.7%;
//  }
//}
//.square8 {
//  width: 24px;
//  height: 24px;
//  position: absolute;
//  border: 2px solid var(--primary-2);
//  bottom: 7%;
//  left: 12%;
//  animation: sqr8 .5s ease-out infinite alternate;
//}
//@keyframes sqr8 {
//  from {
//    transform: scale(1.2);
//  }
//  to {
//    transform: scale(.8);
//  }
//}
/////////specificity

/////////demonstration
//.demonstration-tittle {
//  font-weight: 600;
//  font-size: 36px;
//  align-items: center;
//  text-align: center;
//  color: var(--white);
//  padding-top: 70px;
//}
//.demonstration-video {
//  padding-top: 100px;
//  padding-bottom: 111px;
//}
//.cube-container {
//  position: relative;
//}
//.cube1 {
//  width: 96.67px;
//  height: 96.67px;
//  position: absolute;
//  border: 5px solid var(--blue4);
//  top: 0;
//  right: 0;
//  animation: cube1 1s ease-in infinite alternate;
//}
//@keyframes cube1 {
//  from {
//    top: -35px;
//  }
//  to {
//    top: 127px;
//  }
//}
//.cube2 {
//  width: 96.67px;
//  height: 96.67px;
//  position: absolute;
//  border: 4px solid var(--lilac2);
//  top: 5%;
//  right: 6%;
//}
/////////demonstration


////////promotions

////////promotions

////////proposition
.proposition-tittle {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 634px;
  font-weight: 600;
  font-size: 36px;
  color: var(--transparent95-white);
  padding-top: 63px;
  padding-bottom: 38px;
}
.proposition-sub-tittle {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 430px;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  padding-bottom: 42px;
}
.proposition-input {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.proposition-input-container {
  position: relative;
}
.proposition-form {
  background-color: var(--white);
  color: var(--grey);
  font-weight: 700;
  font-size: 16px;
  border: 1px solid var(--primary-2);
  border-radius: 5px;
  width: 755px;
  padding: 15px 240px 15px 10px;
}
.proposition-button {
  background-color: var(--pink);
  color: var(--whitish);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  width: 228px;
  padding: 16px 0 15px 10px;
  border-radius: 5px;
  position: absolute!important;
  right: 0;
  top: 0;
}
.block-container {
  position: relative;
}
//.block1 {
//  width: 55px;
//  height: 55px;
//  position: absolute;
//  border: 1.65px solid var(--white);
//  top: 14%;
//  left: 4%;
//  animation: bl1 1s ease-in infinite alternate;
//}
//@keyframes bl1 {
//  from {
//    left: 4%;
//  }
//  to {
//    left: 18.6%;
//  }
//}
//.block2 {
//  width: 48px;
//  height: 48px;
//  position: absolute;
//  border: 4px solid var(--primary-2);
//  top: 26%;
//  right: -46px;
//  animation: bl2 .8s linear infinite alternate;
//}
//@keyframes bl2 {
//  from {
//    top: 26%;
//    right: -46px;
//  }
//  to {
//    top: 32%;
//    right: -55px;
//  }
//}
//.block3 {
//  width: 100px;
//  height: 100px;
//  position: absolute;
//  border: 3px solid var(--white);
//  bottom: 20%;
//  right: 2%;
//  animation: bl3 1s ease-in infinite alternate;
//}
//@keyframes bl3 {
//  from {
//    border: 3px solid var(--white);
//  }
//  to {
//    border: 3px solid var(--light-green-2);
//    transform: scale(1.2);
//  }
//}
.main-page-right-column-leo-img {
  z-index: 1;
  //transform: scale(1.2);
  animation: leo-rotate 2s ease-in-out infinite alternate;
  margin-left: auto;
  width: 100%;
}
@keyframes leo-rotate {
 from {
   transform: translateY(0);
 }
  to{
   transform: translateY(30px);
  }
}

////////proposition

///////footer
.footer {
  display: grid;
  grid-template-columns: 90px 2fr 152px;
  align-items: center;
  padding-top: 35px;
}
.footer-logo {
  width: 89px;
}
.footer-items {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: 30px;
}
.footer-item {
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  cursor: pointer;
  transition: all ease .4s;
  &:hover {
    color: var(--primary-2);
  }
}
.social-icon-container {
  display: grid;
  grid-auto-flow: column;
  column-gap: 22px;
}
.twitter-icon {
  width: 17.4px;
  color: var(--white);
  cursor: pointer;
}
.twitter-icon-container {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--blue1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.vk-icon {
  width: 19.2px;
  color: var(--white);
  cursor: pointer;
}
.vk-icon-container {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--blue2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.facebook-icon {
  width: 10px;
  color: var(--white);
  cursor: pointer;
}
.facebook-icon-container {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--blue3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-copy {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  color: var(--whitish);
  text-align: center;
  padding: 40px 0 49px 0;
}
////////footer
@media (max-width: 1370px) {
  .main-page-right-column-leo-img {
    //transform: scale(1.3);
  }
  .rectangle3 {
    right: 0;
  }
  .rectangle5{
    left: 0;
  }
  .rectangle4{
    left: 30px;
  }
}
@media (max-width: 1260px) {
  .block2 {
    right: 0;
  }
  .main-page-right-column-leo-img {
    transform: scale(1.1);
  }
}

@media (max-width: 1199.99px) {
  .rectangle-container {
    position: relative;
    padding-bottom: 50px;
  }
  .features-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .feature-item {
    margin: auto;
    padding-bottom: 50px;
    &:nth-child(3){
      margin-right: auto;
    }
    &:nth-child(6){
      margin-right: auto;
    }
  }
  .rectangle {
    display: none;
  }
  .square {
    display: none;
  }
  .block {
    display: none;
  }
  .cube {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr 2fr 1fr;
  }
  .social-icon-container {
    justify-content: end;
  }
  .footer {
    grid-template-columns: 100px 2fr 150px;
  }
  .main-page-right-column-leo-img {
    transform: scale(1);
  }
  .main-page-container {
    grid-template-columns: 7fr 5fr;
  }
}
@media (max-width: 991.99px) {
  .specificity-post {
    img {
      margin: 0 auto !important;
    margin-bottom: 10px !important;
    }
  }

  .features-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .feature-item {
    padding-left: 60px;
  }
  .specificity-post {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .specificity-post:nth-child(2n) {
    //flex-direction: row-reverse;
    & > *:first-child {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .specificity-post:nth-child(2n+1) {
    & > *:first-child {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .proposition-form {
    width: 600px;
  }
  .footer {
    grid-template-columns: 150px 1fr;
  }
  .social-icon-container {
    grid-column-start: 2;
    justify-content: center;
  }
  .main-page-container {
    margin: 0 -15px 0 10px;
    overflow: hidden;
  }

}
@media (max-width: 767.99px) {
  .rectangle-container {
    padding-top: 0;
  }
  .specificity-post img {
    width: 470px;
  }
  .main-page-right-column img {
    display: none;
  }
  .features-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .feature-item {
    margin: auto;
    padding-bottom: 50px;
    &:nth-child(3){
      margin-right: auto;
    }
    &:nth-child(6){
      margin-right: auto;
    }
  }
  .feature-item {
    padding-left: 0;
    width: 500px;
  }
  .proposition-form {
    width: 500px;
  }
  .proposition-button {
    width: 150px;
  }
  .proposition-tittle {
    font-size: 30px;
    width: 100%;
  }
  .social-icon-container {
    grid-column-start: 2;
    justify-content: start;
    padding-left: 170px;
    padding-top: 30px;
  }
  .footer-copy {
    justify-content: start;
    padding-left: 99px;
  }
  .footer {
    grid-template-columns: 100px 1fr;
  }
  .main-page-btn-container {
    display: grid;
    grid-auto-flow: revert;
  }
  .main-page-btn {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    &.registration {
      margin: 0;
    }
  }
  .main-page-right-column {
    display: none;
  }
  .main-page-left-column {
    padding-left: 20px;
    padding-top: 10px;
  }
  .main-page-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .footer-copy {
    justify-content: start;
    padding-left: 0;
    padding-top: 15px;
    font-size: 18px;
  }
  .social-icon-container {
    grid-column-start: 2;
    justify-content: start;
    padding-left: 0;
    padding-top: 30px;
  }
  .footer-items {
    display: none;
    grid-auto-flow: initial;
    justify-content: initial;
    column-gap: initial;
    text-align: center;
  }
  .footer {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  .footer-logo {
    display: none;
  }
  .footer-item {
    font-size: 20px;
  }
}
@media (max-width: 575.99px) {

  .nav-menu-list {
    display: block;
    position: absolute;
    left: 0;
    top: 59px;
    width: 100%;
    text-align: center;
  }

  .list-item {
    font-size: 22px;
  }

  .nav-menu {
    display: block;
  }

  .nav-menu-list .list-item {
    margin: 0;
    background: #0a141f;
    padding: 8px;
  }

  .demonstration {
    &-video {
      padding-top: 30px;
    }
  }

  .proposition-input-container,
  .proposition-form,
  .proposition-sub-tittle {
    width: 100%;
  }

  .proposition-form {
    padding: 15px 0 15px 10px;
  }

  .main-page-title {
    font-size: 40px;
  }
  .main-page-left-column {
    padding-left: 7px;
    padding-top: 10px;
  }
  .main-page-sub-title {
    font-size: 25px;
    line-height: 27px;
  }
  .main-page-text {
    font-size: 25px;
  }
  .main-page-btn-container {
    display: grid;
    grid-auto-flow: dense;
  }
  .main-page-btn {
    margin-bottom: 0;
    padding-right: 10px;
    padding-left: 10px;
    &.registration {
      margin: 0;
    }
  }
  .feature-item {
    padding-left: 0;
    width: 400px;
  }

  .features {
    &-tittle {
      padding-top: 40px;
      padding-bottom: 30px;
    }

    &-img {
      padding-bottom: 22px;
      padding-top: 30px;

      img {
        margin: 0 auto;
      }
    }
  }

  .feature-item {
    width: 100% !important;
    text-align: center;
  }

  .main-page {

    &-title {
      font-size: 50px;
    }

    &-sub-title {
      margin-bottom: 20px;
      font-size: 20px;
    }

    &-text {
      font-size: 20px;
    }
  }

  .specificity {
     &-tittle {
       padding-top: 40px;
       padding-bottom: 40px;
     }

    &-text {
      margin-top: 30px;

      &-sub-tittle {
        font-size: 14px;
      }
    }

    &-post {
      margin-bottom: 65px;
    }
  }
  .social-icon-container {
    padding: 15px 0;
    margin-top: -21px;
  }
  .main-page-right-column-leo-img {
    position: absolute;
    z-index: 1;
    transform: scale(1.5);
  }
}


body {
  background: #222;
  margin: 0rem;
  min-height: 100vh;
  font-family: Futura, sans-serif;
}
#canvas {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .4;
}
